@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #036873;
    color: white;
    
} 

/* main{
    text-align: center;
    border: 1px solid white;
    background-color: #D92B04;
    width: 50%;
    padding: 20px 20px;
    margin: auto;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: 1px solid white;
    width:50%;

} */


 .cad{
    text-align: center;

 }


.back{

    border: 1px solid white;
    color: black;
    font-size: 16pt;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}


h1{
    text-align: center;
}
.formulario{
    border: 1px solid white;
    border-radius: 10px;
    width: 45vw;
    height: 60%;
    padding: 10px 20px;
    margin: auto;
    box-shadow: 2px 2px 10px #10403B;


    /* display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */

}


.alunoform{
    border: 1px solid white;
    border-radius: 10px;
    width: 45vw;
    height: 40%;
    padding: 10px 20px;
    margin: auto;
    box-shadow: 2px 2px 10px #10403B;

    



}
#data{
    font-weight: bold;
}
input{
    border: 0;
    border-bottom: 1px solid white;
    background-color: #00000000;
    color: white;
    font-size: 16pt;



}
#submit:hover{
    cursor: pointer;
}

input[type="text"] , input[type="number"]{
    width: 100%;

}

input:focus {
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid white;
    outline: 0;

} 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




input::placeholder{
    text-align: start;
    color: rgba(255, 255, 255, 0.219);
}
#submit{
    border: 1px solid white;
    color: white;
    font-size: 16pt;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    
}

.enviar{
    text-align: center;
    
}

@media (max-width: 720px) {

    input[type="text"]{
        border: 0;
        border-bottom: 1px solid white;
        background-color: #00000000;
        color: white;
        font-size: 14pt;
        width: 100%;
    
    }

    h1{
        font-size: 13pt;
        
    }
}

/* Color Theme Swatches in Hex */
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-hex { color: #127369; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-hex { color: #10403B; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-hex { color: #8AA6A3; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-hex { color: #4C5958; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-hex { color: #BFBFBF; }

